
extends layout

block content
	#login.center-vertical
		form.card.card-body.bg-light(method='post')
			h2 Convert Coin!
			h4 Faça seu Login para acessar
			.form-group
				label Usuario
				input.form-control(type='text', id='user-tf', name='user')
			.form-group
				label Senha
				input.form-control(type='password', id='pass-tf', name='pass')
			#row1
				button(type='button')#btn_remember.btn.btn-light.btn-left
					span.fa.fa-check-square
					| Lembrar minha senha
				button(type='submit')#btn_sign_in.btn.btn-primary
					span.fa.fa-lock
					| Entrar
			hr
			.btm-links
				#forgot-password
					a(href='#') Esqueceu sua senha?
				#create-account
					a(href='/signup') Criar nova conta
	include modals/alert
	include modals/lost-password

block scripts
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')